<div class="content">
    <img src="assets/hisoka.jpg" alt="ヒソカ" class="cheese-img">
    <h2 style="margin-bottom:2em;">ヒソカ</h2>
    <p style="margin-bottom:1em;">あんなに問い合わせしないでくださいと言ったのに。。。</p>
    <p style="margin-bottom:1em;">全く意味もないお問い合わせフォーム作るなんて</p>
    <p style="margin-bottom:40px;" id="quotes">容量のムダ使い♥</p♥
</div>