<div class="content">
<div class= 'news-detail'>
    <div class= 'news-topic-detail'>
      <%= image_tag @article.image.to_s, class: "article-img" %>
      <div class="text">
        <p style="margin-bottom:24px;"><%=  l @article.created_at, format: :short %></p>
        <%= simple_format(@article.article) %>
      </div>
      </div>
</div>
</div>
